{% extends 'core/base.html' %}

{% block menu-lateral %}
    <h2>Menú:</h2>
    <ul>
        <li><a href="{% url 'coordinadoraHome' %}">Inventario</a></li>
        <li><a href="{% url 'coordinadoraTraslados' %}">Traslados</a></li>
        <li><a href="{% url 'coordinadoraPrestamos' %}">Préstamos</a></li>
    </ul>

{% endblock menu-lateral %}

{% block content %}
<section class="container-prestamo">
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="csrfmiddlewaretoken" value="Ja99LJvzpw8izRVsYMG840z9Xgoy612nqpJRdYA37WZMkMG12pPaDAx8GJjCKzBt">
        
        <label for="id_id_prestamo">Id prestamo:</label>
        
          
          <input type="number" name="id_prestamo" required="" id="id_id_prestamo">
          
          
        
      
    
      
        <label for="id_fecha_emision">Fecha emision:</label>
        
          
          <input type="text" name="fecha_emision" required="" id="id_fecha_emision">
          
          
        
      
    
      
        <label for="id_fecha_devolucion">Fecha devolucion:</label>
        
          
          <input type="text" name="fecha_devolucion" required="" id="id_fecha_devolucion">
          
          
        
      
    
      
        <label for="id_hospital_destino">Hospital destino:</label>
        
          
          <input type="text" name="hospital_destino" required="" id="id_hospital_destino">
          
          
        
      
    
      
        <label for="id_id_matrona">Id matrona:</label>
        
          
          <select name="id_matrona" required="" id="id_id_matrona">
      <option value="" selected="">---------</option>
    
      <option value="100">Matrona Clínica Maria Perez 100</option>
    
    </select>
          
          
        
      
    
      
        <label for="id_id_equipo">Id equipo:</label>
        
          
          <select name="id_equipo" required="" id="id_id_equipo">
      <option value="" selected="">---------</option>
    
      <option value="1">Ventilador 1</option>
    
      <option value="2">Incubadora 2</option>
    
      <option value="3">Bomba de infusión 3</option>
    
      <option value="4">EEG 4</option>
    
    </select>
          
          
            
          
        
      
        <button type="submit">Registrar Prestamo</button>
    </form>
</section>
{% endblock content %}